Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

updated CHANGELOG.md; minimal edits of messages in remap_restarts.py package (remap_upper.py, remap_utils.py)
  CHANGELOG.md
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

add utility to generate forecast (persistence), clean up
  pre/prepare_ocnExtData/CMakeLists.txt
  pre/prepare_ocnExtData/forecast_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/proc_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/sst_ice_helpers.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

remove commented lines
  pre/prepare_ocnExtData/forecast_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

Add option to generate BCs using persistence of initial anomaly
  pre/prepare_ocnExtData/forecast_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

update change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update gen_wts_regrid_ostia_geos.py
  pre/prepare_ocnExtData/gen_wts_regrid_ostia_geos.py
Owners: @GEOS-ESM/preprocessing-team

Update plot_diff_ostia_native_regridded_binned.py
  pre/prepare_ocnExtData/plot_diff_ostia_native_regridded_binned.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

correct label and constraint fvcore name
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

no remap upper if there is no change
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Update CircleCI to use Orb v2
  .circleci/config.yml
  CHANGELOG.md
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/geos-util-team

change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

minimal edit of print statement (remap_upper.py)
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

copy without remapping for upper air and land
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

updated stretched cube input options for upper restarts
  post/stats.F90
  pre/remap_restart/bin2nc_merra2_fv.yaml
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team

use return code for diff
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

typo
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

add more condition for catchment restart comparison
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

added documentation to function copy_without_remap (remap_base.py)
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

minimal white-space change to fix alignment of table in comment (remap_base.py)
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

updated CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Move to use cp and tar at NAS
  CHANGELOG.md
  post/gcmpost.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

clarified USAGE of remap_restarts.py (0-diff-trivial)
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Updates for Stratospheric Transport and STATS RMS
  plots/grads_util/corcmp.gs
  plots/grads_util/corcmp_plot.gs
  plots/grads_util/corcmpz_plot.gs
  plots/grads_util/makezdif2.gs
  plots/grads_util/makezdif3.gs
  plots/grads_util/rmscmp_plot.gs
  plots/grads_util/rmscmpz_plot.gs
  plots/gwd/gwd
  plots/hcmp/hcmp2
  plots/landscape.script
  plots/portrait.script
  plots/res/plot_season.gs
  plots/res/res
  plots/res/setup_wstar.gs
  plots/zcmp/zcloseplt
Owners: @GEOS-ESM/postprocessing-team

making remap_restarts.py USAGE text consistent with corresponding Wiki page (0-diff-trivial)
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

add width to format
  post/flat2hdf.F
Owners: @GEOS-ESM/postprocessing-team

prepare for sparse checkout
  CMakeLists.txt
  pre/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CMakeLists.txt
  CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update remap_command_line.py
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

Threshold ice concentration so that it is >=0 and <= 1.
  pre/prepare_ocnExtData/forecast_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

update change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

major updates for upper_air restart regrid/remap to fix vector regrid and remapping options
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

added hydrostatic question and blank qos choice
  CHANGELOG.md
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Fix SLES15 detection in remap_utils
  CHANGELOG.md
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team
