Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

fix the message shown on screen
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

more clear message fo hydrostatic
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

cleanup in/out grids and print values
  pre/NSIDC-OSTIA_SST-ICE_blend/regrid_forcing_esmf.F90
Owners: @GEOS-ESM/preprocessing-team

needed ENV variables for OpenMPI and IntelMPI on Milan nodes
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

remove mask from read_Reynolds
  pre/NSIDC-OSTIA_SST-ICE_blend/read_Reynolds.F90
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updates for automated TEM Diagnostics
  plots/grads_util/Create_TEM_ddf.csh
  plots/grads_util/getinfo
  plots/grads_util/getobs.gs
  plots/grads_util/makezdif.gs
  plots/grads_util/rgbset.gs
  plots/grads_util/writegrads.gs
  plots/hcmp/hcmp2
  plots/portrait.script
  plots/quickplot
  plots/res/VERIFICATION.MERRA-2.rc
  plots/res/VERIFICATION.rc.tmpl
  plots/res/epflx.gs
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/res
  plots/res/res_2.gs
  plots/res/res_3.gs
  plots/res/setup_epflx.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
  plots/res/zonal.gs
  plots/zcmp/zcloseplt
  plots/zcmp/zplt
  post/CMakeLists.txt
  post/Create_TEM_Diag
  post/Create_TEM_Diag.F
  post/TEM.F90
  post/gcmclim.script
  post/gcmpost.script
  post/time_ave.F
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/cmake-team

add v12 BCS option
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

update log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CI to use BCs v11.5.0
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Use 7.23.0
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update changelog for 2.1.0 release
  CHANGELOG.md
  post/gcmpost_CPLFCSTfull.script
  post/gcmpost_CPLFCSTpart.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Remove hardcoded paths
  plots/grads_util/Create_TEM_ddf.csh
Owners: @GEOS-ESM/postprocessing-team

Fix bug
  post/time_ave.F
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

bring SST update to 5.29.5 v1.0.2
  pre/NSIDC-OSTIA_SST-ICE_blend/cube_BCs.pl
  pre/prepare_ocnExtData/CMakeLists.txt
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/forecast_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/gen_wts_regrid_ostia_geos.py
  pre/prepare_ocnExtData/hermes_m_tick.f90
  pre/prepare_ocnExtData/plot_diff_ostia_native_regridded_binned.py
  pre/prepare_ocnExtData/proc_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/sst_ice_helpers.F90
Owners: @GEOS-ESM/preprocessing-team, @GEOS-ESM/cmake-team

merge #73 here
  pre/NSIDC-OSTIA_SST-ICE_blend/read_Reynolds.F90
Owners: @GEOS-ESM/preprocessing-team

add MOM6 C90 ogrid option
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

merge pr #73 here
  pre/NSIDC-OSTIA_SST-ICE_blend/read_Reynolds.F90
Owners: @GEOS-ESM/preprocessing-team

Added MASKFILE for time-discontinuous data
  plots/grads_util/fsource
  plots/grads_util/makezdif4.gs
  plots/grads_util/pause.gs
  plots/grads_util/zdiff4.template
  plots/res/epflx.gs
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/res
  plots/res/res_2.gs
  plots/res/res_3.gs
  plots/res/setup_epflx.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
Owners: @GEOS-ESM/postprocessing-team

Fix time_ave.rc
  CHANGELOG.md
  post/time_ave.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

v1.0: Fix time_ave.rc
  CHANGELOG.md
  post/time_ave.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Fix up changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

handle to regrid gwd file as well
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

comment on change
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

was missing a few lines
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

Update ESMF CMake target to ESMF::ESMF
  CHANGELOG.md
  post/CMakeLists.txt
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team

add candidate for FP res
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add res
  pre/remap_restart/remap_analysis.py
Owners: @GEOS-ESM/preprocessing-team

add what is changed
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

slurmified
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

add GEOS-IT option for remap restarts
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Bug fixes for EXPID names containing periods
  plots/res/epflx.gs
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/setup_epflx.gs
  plots/res/turn_around_lats.gs
  post/time_ave.rc
Owners: @GEOS-ESM/postprocessing-team

consolidate copy_geosit and remove_geosit
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
