Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

this was oopsie
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

v12: Fix for SLES15 remapping
  CHANGELOG.md
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Fix CI
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Revert "remap_restarts uses SLURM for lake/landice/saltwater (Resolution for issue #85)"
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

Reapply "remap_restarts uses SLURM for lake/landice/saltwater (Resolution for issue #85)"
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

add agcm import rst copy
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

add GEOS-IT flag to test yaml
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

only copy if user said yes
  pre/remap_restart/remap_base.py
Owners: @GEOS-ESM/preprocessing-team

fix date options
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

typo
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

no agcm_import_rst is remppaed if answering no
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fix bug from last commit
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

add flag to yaml tests
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

bypass merra2
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updates quadratics list to avoid zonal mean trigger for cubed-sphere fields
  post/time_ave.rc
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update GitHub Actions
  .github/workflows/validate_yaml_files.yml
Owners: @GEOS-ESM/cmake-team

Fix N2O bug in remap
  pre/remap_restart/bin2nc_merra2_gocart.yaml
  pre/remap_restart/bin2nc_merra2_pchem.yaml
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updates for TEM_Diag to include ALL Times
  plots/grads_util/pause.gs
  plots/portrait.script
  plots/quickplot
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/setup_epflx.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
  plots/res/zonal.gs
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Uptick to v2.1.4
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

v12: Remove regrid.pl, consolidate CMake
  CHANGELOG.md
  pre/CMakeLists.txt
  pre/regrid.pl
  pre/remap_restart/CMakeLists.txt
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

Updated g5fcst_stats.pl to send job to milan nodes if job is run on milan, rather than to haswell nodes.
  post/g5fcst_stats.pl
Owners: @GEOS-ESM/postprocessing-team

add missing commits
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fix the indentation
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

typo
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

remove scutest
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

add message for restart file names
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

update user message
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Trivial change for CI
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Patch to fix EXPIDs containing underscores
  plots/grads_util/fixname.gs
  plots/grads_util/gencmp.gs
  plots/grads_util/gencmpz.gs
  plots/hcmp/hcmp2
  plots/zcmp/progz
Owners: @GEOS-ESM/postprocessing-team

Update to orb v4
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

temporary fix for esmf bad handling of logical output
  post/time_ave.F
Owners: @GEOS-ESM/postprocessing-team

fix for hydrostatic option in remap questions
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

v12: Add support for v13 bcs in remap
  CHANGELOG.md
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Remapping seaicetherom_import_rst if it is in the restart directory
  CHANGELOG.md
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team
