Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

add saltwater_import
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix for All-Times Transport Diagnostics
  plots/res/plot_season.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
Owners: @GEOS-ESM/postprocessing-team

Remove NCCS OS detection
  CHANGELOG.md
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

missing for milan
  post/g5fcst_stats.pl
Owners: @GEOS-ESM/postprocessing-team

Fix issue with movestat and multi-month seasons
  CHANGELOG.md
  plots/movestat
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

v12: Remove NCCS OS detection
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

resolved issue #131 in gcm_v12
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Fix bug with MERRA2 remapping
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

updated to make zonal mean plots show actual stats difference between model and control (instead of difference for 95% t-test confidence level)
  plots/grads_util/corcmpz_plot.gs
  plots/grads_util/rgbset.gs
  plots/grads_util/rmscmpz_plot.gs
Owners: @GEOS-ESM/postprocessing-team

make restart filename more specific
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

ready for GEOSldas to remap
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix for movestat with files-with-dots
  CHANGELOG.md
  plots/movestat
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Fix issue with saltwater in remap_lake_landice_salt
  CHANGELOG.md
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Revert "Fix issue with saltwater in remap_lake_landice_salt"
  CHANGELOG.md
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Fix issue with saltwater in remap_lake_landice_salt
  CHANGELOG.md
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

v12: Fix saltsplit bug
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

added AI_prs2eta.F
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

added AI_prs2eta
  post/AI_prs2eta.F
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update portrait comparison plots with GFDL moisture species
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

formatting update
  post/AI_prs2eta.F
Owners: @GEOS-ESM/postprocessing-team

expand user home path '~'
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

add cnclm51 remapping
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

confocn.py and plotocn.j jinja compatability
  coupled_diagnostics/g5lib/confocn.py
  coupled_diagnostics/g5lib/plotocn.j
Owners: @yvikhlya

Updates to remove Python2 support
  CHANGELOG.md
  pre/NSIDC-OSTIA_SST-ICE_blend/CMakeLists.txt
  pre/prepare_ocnExtData/CMakeLists.txt
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team

removed code/comments for Catchment-CN4.5 (remap_command_line.py, remap_params.tpl, remap_utils.py)
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

get zoom value when it is not supplied
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

list imported functions explicitly; improved vertical alignment (remap_lake_landice_saltwater.py)
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

refactroing zoom subroutine
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

clarified comments about "zoom" (remap_utils.py)
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

simplify zoom_default
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

dummy white-space change (remap_command_line.py)
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

added comment about "zoom"; commented out unused function "get_gridname" (remap_lake_landice_saltwater.py, remap_utils.py)
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team
