Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

enhanced message for remapping from GEOS-IT and M-2 (works on discover only)
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Undo merge change for v11
  pre/remap_restart/tests/test_remap_cases.yaml
Owners: @GEOS-ESM/preprocessing-team

Only use milan at NCCS
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update binarytile for scripting use
  CHANGELOG.md
  post/binarytile.F90
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

comprehensive updates to moist plots
  CHANGELOG.md
  plots/VERIFICATION_RCS/VERIFICATION.GSSTF.rc
  plots/VERIFICATION_RCS/VERIFICATION.MAC-LWP.rc
  plots/VERIFICATION_RCS/VERIFICATION.SRB.rc
  plots/formulas/tlwp.gs
  plots/grads_util/closeness.gs
  plots/grads_util/genplot.gs
  plots/grads_util/hplot
  plots/grads_util/makplot.gs
  plots/grads_util/makplotz.gs
  plots/grads_util/plot.rc
  plots/grads_util/zplot
  plots/landscape.script
  plots/lwp/VERIFICATION.MAC-LWP.rc
  plots/lwp/VERIFICATION.SSMI.rc
  plots/portrait.script
  plots/tlwp/VERIFICATION.MAC-LWP.rc
  plots/tlwp/modform.gs
  plots/tlwp/plot.rc
  plots/tpw/VERIFICATION.MAC-LWP.rc
  plots/tpw/VERIFICATION.SSMI.rc
  plots/tpw/plot.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

updates to wind and velocity surface plots with bugfix
  plots/SPEED/RC/VERIFICATION.MERRA.rc
  plots/SPEED/RC/VERIFICATION.MERRAsc.rc
  plots/SPEED/VERIFICATION.COADS.rc
  plots/SPEED/VERIFICATION.SSMI.rc
  plots/SPEED/plot.rc
  plots/UU10M/VERIFICATION.GSSTF.rc
  plots/UU10M/plot.rc
  plots/VERIFICATION_RCS/VERIFICATION.COADS.rc
  plots/VERIFICATION_RCS/VERIFICATION.GSSTF.rc
  plots/grads_util/genplot.gs
  plots/grads_util/plot.rc
  plots/landscape.script
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Replace MAPL_ConstantsMod with MAPL_Constants for MAPL3 compatibility
  plots/zonal.f
  post/AI_prs2eta.F
  post/TEM.F90
  post/convert_eta.F
  post/ec_eta2fv.F
  post/ec_prs2eta.F
  post/ec_prs2fv.F
  post/era5_prs2eta.F
  post/eta2prs.F
  post/gg2eta.F
  post/gg2fv.F
  post/ncep_prs2fv.F
  post/rs_hinterp.F
  post/rs_vinterp.F90
  post/rs_vinterp_scm.F90
  post/rsg3_vinterp.F
  post/stats.F90
  post/windfix.F
Owners: @GEOS-ESM/postprocessing-team

Add CHANGELOG entry for MAPL_ConstantsMod migration (fixes #191)
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix CI to use MAPL-v3
  .circleci/config.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Fix CircleCI
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

v12: Fixes for macOS case issue
  plots/configure
  plots/portrait.script
  plots/speed/RC/VERIFICATION.MERRA.rc
  plots/speed/RC/VERIFICATION.MERRAsc.rc
  plots/speed/VERIFICATION.SSMI.rc
  plots/speed/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Fix up CI
  .github/workflows/push-to-main.yml
Owners: @GEOS-ESM/cmake-team

Better fixes for CI
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_v11mapl3.md
  .github/workflows/push-to-v12.yml
Owners: @GEOS-ESM/cmake-team

Better fixes for CI - v12
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_v11mapl3.md
  .github/workflows/push-to-v12.yml
Owners: @GEOS-ESM/cmake-team

Fix bug
  .github/workflows/push-to-main.yml
Owners: @GEOS-ESM/cmake-team

Fix duplicates in portrait.script
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Some of the MAPL2 to MAPL3 changes. Buidls all of GCM but needs to do a test run
  post/3CH.F90
  post/CMakeLists.txt
  post/ec_prs2eta.F
  post/mpi_util.F
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/cmake-team

added convective mass flux plotting with fixes for aliases that include underscores
  CHANGELOG.md
  plots/grads_util/genplot.gs
  plots/grads_util/genplt.gs
  plots/grads_util/genpltz.gs
  plots/grads_util/makplotz.gs
  plots/grads_util/plot.rc
  plots/grads_util/template
  plots/landscape.script
  plots/portrait.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Additinal MAPL2 to 3 changes 
  post/3CH.F90
  post/AI_prs2eta.F
  post/CMakeLists.txt
  post/ec_eta2fv.F
  post/era5_prs2eta.F
  post/gg2eta.F
  post/gg2fv.F
  post/mpi_util.F
  post/rs_hinterp.F
  post/rs_numtiles.F90
  pre/NSIDC-OSTIA_SST-ICE_blend/regrid_forcing.F90
  pre/NSIDC-OSTIA_SST-ICE_blend/regrid_forcing_esmf.F90
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

in preparation of v13 BCs
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Fix up changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update changelog for release
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Reduce the default number of PLOT_JOBS to 10
  post/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

updated CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

change route parameter file location
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Updated genplt to look for alias in plot.rc only if export not found
  plots/grads_util/genplt.gs
Owners: @GEOS-ESM/postprocessing-team

Updated genpltz to look for alias in plot.rc only if export not found
  plots/grads_util/genpltz.gs
Owners: @GEOS-ESM/postprocessing-team

Added UU10M/SPEED to plot.rc
  plots/grads_util/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Updated seasonal loops in genplot_2g to include setlons/lats calls like in genplot
  plots/grads_util/genplot_2G.gs
Owners: @GEOS-ESM/postprocessing-team

Update route parameters file path in remap_other_restarts.py
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Uptick to release v2.1.15
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

fixed moveplot to handle double colons in filenames and added more aerosol exports
  CHANGELOG.md
  plots/landscape.script
  plots/moveplot
  plots/portrait.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Reduce the default number of PLOT_JOBS to 10
  post/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Fix up CI
  .github/workflows/push-to-v12.yml
Owners: @GEOS-ESM/cmake-team

Updated gencmpz to handle export names which include double colons
  CHANGELOG.md
  plots/grads_util/gencmpz.gs
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

fixed hcmp2 to use exp numbers instead of names to correct issue with similar or long exp names
  CHANGELOG.md
  plots/hcmp/hcmp2
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team
