Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

update plotting scripts to ignore comments in HISTORY.rc
  CHANGELOG.md
  plots/chckhist.new
  plots/grads_util/gencmp.gs
  plots/grads_util/gencmpz.gs
  plots/grads_util/genplot.gs
  plots/grads_util/genplot_2G.gs
  plots/hcmp/hcmp2
  plots/olr/olr
  plots/olr/olrcc5
  plots/quad/hquad
  plots/quad/zquad
  plots/res/zonal.gs
  plots/tseries/aerosols
  plots/tseries/pme
  plots/tseries/rad
  plots/tseries/tpw
  plots/zcmp/progz
  plots/zcmp1/progz1
  plots/zcmp1/qbo
  plots/zcmp1/vortex
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Update gencmpz.gs
  plots/grads_util/gencmpz.gs
Owners: @GEOS-ESM/postprocessing-team

in remap_restarts test script, fixed rename of "lake_landice_saltwater" to "other_restarts" (test_remap_restarts.py)
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

initial commit of stats_v2 directory with scripts to process forecast stats and create stats plots and scorecards
  CHANGELOG.md
  plots_v2/stats_v2/plots.run
  plots_v2/stats_v2/plots_corcmp.py
  plots_v2/stats_v2/plots_syscmp.py
  plots_v2/stats_v2/plots_tmpl.yaml
  plots_v2/stats_v2/scorecard.py
  plots_v2/stats_v2/stats.py
  plots_v2/stats_v2/stats.run
  plots_v2/stats_v2/stats_dev_tmpl.yaml
  plots_v2/stats_v2/stats_ops_tmpl.yaml
Owners: @GEOS-ESM/geos-util-team

Update stats_ops_tmpl.yaml
  plots_v2/stats_v2/stats_ops_tmpl.yaml
Owners: @GEOS-ESM/geos-util-team

Update plots_tmpl.yaml
  plots_v2/stats_v2/plots_tmpl.yaml
Owners: @GEOS-ESM/geos-util-team

Update stats_dev_tmpl.yaml
  plots_v2/stats_v2/stats_dev_tmpl.yaml
Owners: @GEOS-ESM/geos-util-team

Update v14 bcs description in remap_utils.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Remove v06 BCs from remap restart options
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG for version 2.1.16
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

fix topo sourcing and v14 / v15_BETA BCs
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fix route remapping
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Migrate MAPL_BaseMod to MAPL_Constants in post/ files (MAPL#4857)
  CHANGELOG.md
  post/AI_prs2eta.F
  post/ec_eta2fv.F
  post/ec_prs2eta.F
  post/era5_prs2eta.F
  post/gg2eta.F
  post/gg2fv.F
  post/mpi_util.F
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Update configure (fixed speed capitalizion issue)
  plots/configure
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG for version 2.1.17
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Replace MAPL.constants with MAPL for tem_lib (closes #227)
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Revert "Replace MAPL.constants with MAPL for tem_lib (closes #227)"
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Fixed a bug in gcmpost.script that prevented MAPL monthlies from being copied out of holding when a segment ended on the last day of a month
  CHANGELOG.md
  post/gcmpost.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

v12: Fix remap_restarts after merge
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Fix up CI
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Prepare CHANGELOG for v3.0.0
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Options for remap_restart to o720(0.5-deg tripolar) and o2880(0.125-deg tripolar) ocean grids in coupled mode
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CI
  .circleci/config.yml
  .github/workflows/validate_yaml_files.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Updated stats.py to accept multi-timestep analysis files.
  CHANGELOG.md
  plots_v2/stats_v2/stats.py
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

added new geosgcm_prog exports to plots
  plots/get_exports
  plots/grads_util/plot.rc
  plots/hcmp/hcmp2
  plots/hcmp/hplt
  plots/portrait.script
  plots/zcmp/progz
  plots/zcmp/zcloseplt
  plots/zcmp/zplt
Owners: @GEOS-ESM/postprocessing-team

added new geosgcm_prog exports to plots
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updates for pushes to main
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_mapl3.md
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_v11mapl3.md
  .github/workflows/push-to-main.yml
  .github/workflows/push-to-v12.yml
Owners: @GEOS-ESM/cmake-team

Updated stats.py and yaml templates to accept any datetime tag or shift (including minutes and seconds) and an expid tag. Padded time/memory limits in stats.run based on experience.
  CHANGELOG.md
  plots_v2/stats_v2/stats.py
  plots_v2/stats_v2/stats.run
  plots_v2/stats_v2/stats_dev_tmpl.yaml
  plots_v2/stats_v2/stats_ops_tmpl.yaml
Owners: @GEOS-ESM/geos-util-team

Updates for polar and noexec
  CHANGELOG.md
  plots/moveplot
  plots/movestat
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Corrected plotting to treat HadCRU temperature as T2M not tskin; fixed qname_not_found titles when closeness was called from gencmp.gs; corrected SPEED/UU10M verification RCs.
  CHANGELOG.md
  plots/SPEED/VERIFICATION.SSMI.rc
  plots/T2M/VERIFICATION.CRU.rc
  plots/VERIFICATION_RCS/VERIFICATION.COADS.rc
  plots/VERIFICATION_RCS/VERIFICATION.GSSTF.rc
  plots/configure
  plots/grads_util/gencmp.gs
  plots/portrait.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

correction to inital commit
  plots/configure
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

added IMERG precip plots and updated MAC-LWP rc files for location change
  CHANGELOG.md
  plots/VERIFICATION_RCS/VERIFICATION.MAC-LWP.rc
  plots/configure
  plots/lwp/VERIFICATION.MAC-LWP.rc
  plots/precip/VERIFICATION.IMERG.rc
  plots/tlwp/VERIFICATION.MAC-LWP.rc
  plots/tpw/VERIFICATION.MAC-LWP.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

one more fix
  plots_v2/stats_v2/plots.run
Owners: @GEOS-ESM/geos-util-team

Revise CHANGELOG structure and add new entries
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updated stats.py to allow for for non-datetime forecast lead hour tags in templates and correct a bug preventing saving of stats files.
  CHANGELOG.md
  plots_v2/stats_v2/stats.py
Owners: @GEOS-ESM/geos-util-team

Add Milan setting to fstat script; fix from Michele
  plots_v2/stats_v2/stats.py
  post/g5fcst_stats.pl
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team
