Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

bug fix for some plots missing from some users lists due to env var verification not existing
  post/gcmpost.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Try to fix CI
  .circleci/config.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Update yaml
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

v12: Ask GEOS-IT question first
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Abstract MERRA2 and GEOS-IT directories
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

v11: Ask GEOS-IT question first, look for MERRA-2
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Backport TEM race condition fix
  post/CMakeLists.txt
  post/Create_TEM_Diag.F
  post/TEM.F90
  post/time_ave.F
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team

Changes from Claude ruff fixing
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Fix up logic
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Fix up logic
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Try claude suggestions
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Try claude suggestions. Part 2
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Fix escape
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Try claude suggestions. Part 3
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Updates from claude
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

corrected LWP plot command to only include LWP not CCWP
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

fixed incorrect labeling of model data as actual or climatological
  CHANGELOG.md
  plots/grads_util/gencmp.gs
  plots/grads_util/gencmpz.gs
  plots/zcmp/progz
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Fix up github CI
  .github/workflows/workflow.yml
Owners: @GEOS-ESM/cmake-team

Corrected an issue where tags like ":V" after cmp exps were resulting in "ctag" showing up in filenames and labels for some plots
  CHANGELOG.md
  plots/grads_util/gencmp.gs
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Add slurm/pbs job submission capability to lake-landice remapping
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

Update readme file
  pre/remap_restart/README_regrid_fp_restart_deterministic_and_ens
Owners: @GEOS-ESM/preprocessing-team

add some items to yaml tpl and fix the tests
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

expand {Bin} before it is a string
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

rm forced 'f' in comparison
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

v12: Fixes for Flang 22
  post/rs_numtiles.F90
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team

updated makplotz to prevent blank or fake zonal line plots form being created
  CHANGELOG.md
  plots/grads_util/makplotz.gs
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

comprehensive updates to aerosol plots
  plots/chckhist.new
  plots/grads_util/closeness.gs
  plots/grads_util/gencmpz.gs
  plots/grads_util/genplot_2G.gs
  plots/grads_util/genpltz.gs
  plots/grads_util/getvar_2G.gs
  plots/grads_util/hplot
  plots/grads_util/template
  plots/grads_util/zplot
  plots/landscape.script
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

plot bug fixes
  CHANGELOG.md
  plots/grads_util/gencmp.gs
  plots/grads_util/gencmpz.gs
  plots/grads_util/makplotz.gs
  plots/portrait.script
  plots/zcmp/progz
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

v11: Update remap test cases baseline
  CHANGELOG.md
  pre/remap_restart/tests/test_remap_cases.yaml
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Handle SLURM constraint; add blend script
  pre/NSIDC-OSTIA_SST-ICE_blend/BLEND-OSTIA-REYNOLDS.pl
  pre/NSIDC-OSTIA_SST-ICE_blend/cube_BCs.pl
Owners: @GEOS-ESM/preprocessing-team

explain
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix up changelog for release
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Verify MERRA2 location
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add catch_file
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Edited error message about MERRA2_RST_BASE
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add wemin when remap does not go through questionaire
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team
