Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

removed confusing comment (remap_command_line.py)
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

rename zoom_default
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

syntax typo
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Latest v12 updates in MoistGC, optional reservation use in remap_restarts.py updated HISTORY collections for GEOS Earth Now Viewer Plots
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

v12: Rename v13 to v13-beta
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Rename to v14-beta
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Remove v14 from the chart
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

More v14 explanation
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update for v14
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Fix broken python
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

update to trap errors from SLURM jobs
  pre/NSIDC-OSTIA_SST-ICE_blend/cube_BCs.pl
Owners: @GEOS-ESM/preprocessing-team

add v14 bcs and update topo path
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Compile TEM into OBJECT library to avoid race
  CHANGELOG.md
  post/CMakeLists.txt
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team

Make TEM a module
  CHANGELOG.md
  post/Create_TEM_Diag.F
  post/TEM.F90
  post/time_ave.F
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Fix bad merge that disappeared GM4
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Fix up command line auto-split
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

Fix bad python
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Different fix
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Try removing salt
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Remove v13, make v12 default (for now)
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Do not remove salt import
  pre/remap_restart/remap_lake_landice_saltwater.py
Owners: @GEOS-ESM/preprocessing-team

add message for MERRA2 due to removal of /archive
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

v12: Updates for movestat
  plots/movestat
Owners: @GEOS-ESM/postprocessing-team

Update movestat to handle multiple seasons: in the absence of a -season argument will auto-discover.
  plots/movestat
Owners: @GEOS-ESM/postprocessing-team

update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

small update to correctly read seasons from montage plots
  plots/movestat
Owners: @GEOS-ESM/postprocessing-team

Add python and shell scripts to regrid FP restart files
  pre/remap_restart/README_regrid_fp_restart_deterministic_and_ens
  pre/remap_restart/ens_scripts/cp_mem_files.atmens.sh
  pre/remap_restart/ens_scripts/move_mem_files.sh
  pre/remap_restart/ens_scripts/move_orig_resol.sh
  pre/remap_restart/ens_scripts/rename.sh
  pre/remap_restart/f5295_fp_rs_path
  pre/remap_restart/remap_analysis_ens.py
  pre/remap_restart/remap_restarts_ens.py
  pre/remap_restart/remap_upper_ens.py
Owners: @GEOS-ESM/preprocessing-team

Update TEM to be an object library in CMake
  CHANGELOG.md
  post/CMakeLists.txt
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team

Fix target_link_libraries
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

TEM depends on MAPL.constants
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Back to ecbuild
  post/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

options for limiting all the massive amounts of plots to make quickplot actually quick for purpose
  plots/landscape.script
  plots/portrait.script
  plots/quickplot
  post/gcmpost.script
Owners: @GEOS-ESM/postprocessing-team

p5 and p125 ocean bathymetries are added in geosv12 coupled exp with mom6
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update regrid related README and scripts
  pre/remap_restart/README_regrid_fp_restart_deterministic_and_ens
  pre/remap_restart/ens_scripts/regrid_ens.j
  pre/remap_restart/ens_scripts/regrid_ens.sh
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

add route copy
  pre/remap_restart/remap_other_restarts.py
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
