Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

add command line option
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

move remap tests under remap_restarts directory
  post/CMakeLists.txt
  post/tests/CMakeLists.txt
  pre/CMakeLists.txt
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
  pre/remap_restart/tests/s2sv3Toc12MOM6.yaml
  pre/remap_restart/tests/test_remap_cases.yaml
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

update test cases
  pre/remap_restart/tests/test_remap_cases.yaml
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

add more comments
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

add -lbl options to add tag and resolutions information to output restart names
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

restrict some arguments with choices
  pre/remap_restart/remap_command.py
Owners: @GEOS-ESM/preprocessing-team

fix tests
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

more straight forward questions
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

convert merra2 binary files to nc4 before regrid
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_fv.yaml
  pre/remap_restart/remap_gocart.yaml
  pre/remap_restart/remap_lake.yaml
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_landice.yaml
  pre/remap_restart/remap_moist.yaml
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_pchem.yaml
  pre/remap_restart/remap_salt.yaml
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

added catch.yaml for completeness.
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_catch.yaml
Owners: @GEOS-ESM/preprocessing-team

fix bcs for merra2 input
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

convert to CS for cubed-sphere ocean grid
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fixed typo
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add no-prompt argument
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update CI to use Baselibs 7.13.0
  .circleci/config.yml
  CHANGELOG.md
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/geos-util-team

get catchment tile number from restart file
  CHANGELOG.md
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

edited comments and clean exit message (remap_catchANDcn.py)
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

better variable names for number of tiles (remap_catchANDcn.py)
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

Clarified recent edit in CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

change tag to bc version
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

constraint for MERRA-2 hours (21)
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Updates to fix dates for comparison plots. Updates for plot levels
  plots/fcst/pltcorcmp.gs
  plots/grads_util/closeness.gs
  plots/grads_util/date
  plots/grads_util/draw_cstring.gs
  plots/grads_util/gencmp.gs
  plots/grads_util/gencmpz.gs
  plots/grads_util/genplot.gs
  plots/grads_util/genplot_2G.gs
  plots/grads_util/genplt.gs
  plots/grads_util/genpltz.gs
  plots/grads_util/getdates.gs
  plots/grads_util/hplot
  plots/grads_util/makplot.gs
  plots/grads_util/plot.rc
  plots/grads_util/template
  plots/grads_util/zplot
  plots/gwd/gwd
  plots/gwd/gwd_1.gs
  plots/gwd/gwd_2.gs
  plots/gwd/gwd_t.gs
  plots/hcmp/hcmp2
  plots/hcmp/hplt
  plots/landscape.script
  plots/portrait.script
  plots/res/epflx.gs
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/res
  plots/res/res_1.gs
  plots/res/res_2.gs
  plots/res/res_3.gs
  plots/res/setup_epflx.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
  plots/res/zonal.gs
  plots/zcmp/progz
  plots/zcmp/zcloseplt
  plots/zcmp/zcmp
  plots/zcmp/zplt
Owners: @GEOS-ESM/postprocessing-team

Fixed Error related to varying output levels and expid names
  plots/res/epflx_diff.gs
  plots/res/setup_epflx.gs
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

change message format
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

change name 'tag' to 'bc_version'
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

use triple ''' to make string cleaner
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Update remap_questions.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

more cleanup. BC version, catch_model ...
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

remove extra line
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

fix output label
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Fixes #28. Move to use time_ave_util
  CHANGELOG.md
  post/gcmclim.script
  post/gcmpost.script
  post/gcmpost_CPLFCSTfull.script
  post/gcmpost_CPLFCSTpart.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

options added to support quicker limited stats region and rmstype selection
  plots/fcst/pltcorcmp.gs
  plots/fcst/pltcorcmpz.gs
  plots/fcst/pltrmscmpz.gs
  plots/quickstat
Owners: @GEOS-ESM/postprocessing-team

Update CircleCI to use Orb Default Baselibs and BCs
  .circleci/config.yml
  CHANGELOG.md
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/geos-util-team

support all the new structure of BCS
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

edit table
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

GM4 without 'smoothed' directory
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

fixed the cmpz plots for rms and anomaly correlation
  plots/grads_util/corcmpz_plot.gs
  plots/grads_util/rmscmpz_plot.gs
Owners: @GEOS-ESM/postprocessing-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
