Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

Hand-resolve changes of feature/ltakacs/Quickplot_Updates_20230213 into feature/sdrabenh/merge_v10.25.0_MSTRF
  plots/grads_util/genplt.gs
  plots/grads_util/parea
  plots/grads_util/pause.gs
  plots/hcmp/SHADES_CCOLS.txt
  plots/hcmp/SHADES_CINT.txt
  plots/hcmp/SHADES_CLEVS.txt
  plots/hcmp/zz
  plots/landscape.script
  plots/portrait.script
  plots/zcmp1/qbo.plt
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Hand-resolve changes of feature/ltakacs/Quickplot_Updates_20230213 into main
  plots/grads_util/genplt.gs
  plots/grads_util/parea
  plots/grads_util/pause.gs
  plots/hcmp/SHADES_CCOLS.txt
  plots/hcmp/SHADES_CINT.txt
  plots/hcmp/SHADES_CLEVS.txt
  plots/hcmp/zz
  plots/landscape.script
  plots/portrait.script
  plots/zcmp1/qbo.plt
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

added CONUS stretched grids
  post/regrid.pl
Owners: @GEOS-ESM/postprocessing-team

Add stretched grid to remap_restarts
  CHANGELOG.md
  post/remap_restart/remap_analysis.py
  post/remap_restart/remap_questions.py
  post/remap_restart/remap_upper.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

3CH and Quickplot Updates
  plots/grads_util/count.gs
  plots/res/zonal.gs
  plots/tseries/rad
  plots/zonal.f
  post/3CH.F90
  post/3CH.j
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

moving to more generic path for bcs files
  post/tests/amip_c180Toc90.yaml
  post/tests/c180Toc360.yaml
  post/tests/c360Toc24.yaml
Owners: @GEOS-ESM/postprocessing-team

changing path for bcs files
  plots/configure
  post/ec_prs2fv
  pre/NSIDC-OSTIA_SST-ICE_blend/cube_BCs.pl
Owners: @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team

Update changelog for release
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fixes indentation and csh
  CHANGELOG.md
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

change NPE according to the tile numbers
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

add more NPEs for higher resolution
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

Fix issue with topo linking
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Add changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Pass in schmidt parameters
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

Update perl script like python
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updates for more stretched grids
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

temporary checkin
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add c1536
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

added support for new BCS' directory structure
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

fix typo
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

fix name scope
  pre/remap_restart/remap_params.py
Owners: @GEOS-ESM/preprocessing-team

added key NPE
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

Update regrid.pl
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

stage
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

change wemin default
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Update remap_params.py
  pre/remap_restart/remap_params.py
Owners: @GEOS-ESM/preprocessing-team

update legacy path and bcs version
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

correct subgrid unde land
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

modifications to support the HWT forecast experiments
  pre/NSIDC-OSTIA_SST-ICE_blend/regrid_forcing_esmf.F90
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

reverting regrid.pl back to main branch; stretched-grid remapping will only be implemented into remap_restarts.py package
  pre/regrid.pl
Owners: @GEOS-ESM/preprocessing-team

choose the shortest gridID when multiples are found
  pre/remap_restart/remap_params.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team
