Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

Update CHANGELOG.md for next release
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Changes to make the code work on SCU17 (but not on discover)
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/preprocessing-team

add ease grid for remapping
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

correct typo
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Updates for Stratospheric Transport
  plots/grads_util/getdates.gs
  plots/grads_util/pause.gs
  plots/grads_util/seasonal
  plots/grads_util/seasonalf
  plots/grads_util/setdates.gs
  plots/grads_util/zonal.gs
  plots/lcmp/VERIFICATION.MERRA2.rc
  plots/res/VERIFICATION.merra.rc
  plots/res/epflx.gs
  plots/res/epflx_diff.gs
  plots/res/plot_season.gs
  plots/res/res
  plots/res/res_3.gs
  plots/res/setup_epflx.gs
  plots/res/setup_wstar.gs
  plots/res/turn_around_lats.gs
  plots/res/zonal.gs
  plots/zcmp/progz
  post/flat2hdf.F
  post/gcmclim.script
  post/gcmpost.script
  post/stats.F90
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

fix edge issue in bin2nc for merra2 restarts to levels other than 72
  pre/remap_restart/bin2nc_merra2_fv.yaml
  pre/remap_restart/remap_bin2nc.py
Owners: @GEOS-ESM/preprocessing-team

Update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Change to i0 due to mandatory GNU need
  post/flat2hdf.F
Owners: @GEOS-ESM/postprocessing-team

update changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Move changelog back to unreleased
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

1)default partiton is '' 2) work with SLES15 3)add log for remap_lake_landice
  pre/CMakeLists.txt
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

Updates for Individual WSTAR Profile plots
  plots/res/plot_season.gs
  plots/res/setup_wstar.gs
Owners: @GEOS-ESM/postprocessing-team

add support of PBS on NAS
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

remove an extra wrong line
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

Getting there! Add standard deviation calculation and user input args
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/sst_ice_helpers.F90
Owners: @GEOS-ESM/preprocessing-team

added site detection by cmake
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

change log
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

use GEOS_SITE
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

cmake change
  pre/CMakeLists.txt
Owners: @GEOS-ESM/cmake-team

Updated CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

unified messages for common questions in remap_restarts package (remap_catchANDcn.py, remap_questions.py, remap_utils.py)
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

questions for land
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team

correct tests
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

print information when test_remap_resartar is run on NAS
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

minimal edit of exit message (test_remap_restarts.py)
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

first step to run remap_catch
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Working daily climatology production- including leap year/day (02/29)
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/sst_ice_helpers.F90
Owners: @GEOS-ESM/preprocessing-team

change exit logic
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

remove hard coded file prefix/suffix
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

more refactoring on 'remap' and 'params'
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Improve readability
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

Add option to save binary file
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

add "land_only" and remove remap_params.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

remove deleted mod
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Make defaults argument(s), as asked by @rtodling for input BCS data path. Followed his example code: https://github.com/GEOS-ESM/GMAO_Shared/blob/main/GMAO_hermes/dyn_recenter.f90
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

add questions to remap to CS grid for land_only option
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

minor changes on message
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

edited and unified more messages for common questions in remap_restarts package
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

clarified "land_only" option for remap_restarts.py package (remap_catchANDcn.py)
  pre/remap_restart/remap_catchANDcn.py
Owners: @GEOS-ESM/preprocessing-team
