Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

copy cbkg and satbias and satbang files
  pre/remap_restart/remap_analysis.py
Owners: @GEOS-ESM/preprocessing-team

rename variables and code cleanup
  post/era5_eta2eta.F
Owners: @GEOS-ESM/postprocessing-team

remove sym link
  post/era5_eta2eta.F
Owners: @GEOS-ESM/postprocessing-team

remove trailing spaces in yaml files
  pre/remap_restart/bin2nc_merra2_catch.yaml
  pre/remap_restart/bin2nc_merra2_fv.yaml
  pre/remap_restart/bin2nc_merra2_gocart.yaml
  pre/remap_restart/bin2nc_merra2_lake.yaml
  pre/remap_restart/bin2nc_merra2_landice.yaml
  pre/remap_restart/bin2nc_merra2_moist.yaml
  pre/remap_restart/bin2nc_merra2_pchem.yaml
  pre/remap_restart/bin2nc_merra2_salt.yaml
Owners: @GEOS-ESM/preprocessing-team

adding agcm_import_rst as option to remap
  pre/remap_restart/bin2nc_merra2_agcm.yaml
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

edit var names
  pre/remap_restart/bin2nc_merra2_agcm.yaml
Owners: @GEOS-ESM/preprocessing-team

right order
  pre/remap_restart/bin2nc_merra2_agcm.yaml
Owners: @GEOS-ESM/preprocessing-team

change comment
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

one line for comment
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

edit question
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Edited agcm_import_rst/IAU echo & question (remap_questions.py)
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

conditions to show agcm_import_rst question
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

typo
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

add input:air:nlevel
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add one more in development land version v11
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

1. Add main program: sst_ice_helpers.F90 - to calculate daily clim, 2. Adjust CMakeLists, 3. Add scanner/reader of DAO OPS binary file.
  pre/prepare_ocnExtData/CMakeLists.txt
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/sst_ice_helpers.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

to generate conservative regridding weights to map original OSTIA data to GEOS 1/8-deg grid: use xesmf
  pre/prepare_ocnExtData/gen_wts_regrid_ostia_geos.py
Owners: @GEOS-ESM/preprocessing-team

Plot difference between conservatively remapped and binned (GEOS FP binary file)
  pre/prepare_ocnExtData/plot_diff_ostia_native_regridded_binned.py
Owners: @GEOS-ESM/preprocessing-team

Add utility to extract SST and Ice concentration for any given day: extract_daily_sst_ice.x 2023 1 5
  pre/prepare_ocnExtData/CMakeLists.txt
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

get rid of commented line
  pre/prepare_ocnExtData/extract_day_SST_FRACI_eight.F90
Owners: @GEOS-ESM/preprocessing-team

update testing cases
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
  pre/remap_restart/tests/s2sv3Toc12MOM6.yaml
  pre/remap_restart/tests/test_remap_cases.yaml
Owners: @GEOS-ESM/preprocessing-team

1) change the bcs path 2)change the way to get the grid directory. 3) correct tests
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

fix test for different accounts
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

more merra2 hours (03, 09, 15, 21)
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

use baselib's nccmp
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

minimal edits of comments for clarity; white-space changes to improve readability
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
  pre/remap_restart/tests/test_remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

more comments and white-space changes
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fixed typo in comment
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

added intro comments to remap_*.py scripts; fixed permissions of some files
  pre/remap_restart/bin2nc_merra2_agcm.yaml
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_base.py
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Added time ticker from @rtodling
  pre/prepare_ocnExtData/CMakeLists.txt
  pre/prepare_ocnExtData/daily_clim_SST_FRACI_eight.F90
  pre/prepare_ocnExtData/hermes_m_tick.f90
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

1) auto detect discover and nas 2)clean up minor issues
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_utils.py
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

minimal edit in comment in yaml files for remap_restart test cases
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

moved definition of bc_base dirs to beginning of file (remap_utils.py)
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

add question of bc_base and replace bcs_dir with bc_base
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

rm trailing space
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

change order of bc_base and bc_version in yaml template and example/test yaml files (remap_params.tpl, test/*.yaml)
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/tests/amip_c180Toc90.yaml
  pre/remap_restart/tests/c180Toc360.yaml
  pre/remap_restart/tests/c24Toc12.yaml
  pre/remap_restart/tests/c360Toc24.yaml
  pre/remap_restart/tests/f522Toc360.yaml
Owners: @GEOS-ESM/preprocessing-team

minor edit to bc_base question (remap_questions.py, remap_utils.py)
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

minor edits in comments and white-space changes (remap_catchANDcn.py, remap_command_line.py, remap_questions.py, remap_utils.py)
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

clarified question about using archived MERRA-2 restarts (remap_questions.py)
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

add key 'air'
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
