Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

add develop choice; add cap_restart
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Eliminate accidental postprocessing of *.nc4-partial files
  post/gcmpost.script
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Updated interface to variables container
  CHANGELOG.md
  post/rs_hinterp.F
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Update CI for MAPL3
  .circleci/config.yml
Owners: @GEOS-ESM/cmake-team

Add push-to-main to CI for MAPL3 work
  .github/workflows/push-to-main.yml
Owners: @GEOS-ESM/cmake-team

Update CHANGELOG
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Add template
  .github/PULL_REQUEST_TEMPLATE/auto_pr_to_mapl3.md
Owners: @GEOS-ESM/cmake-team

edit v06 notes and options
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Addressing more issues....
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

change word to select
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

rename yaml files and add more comments
  pre/remap_restart/bin2nc_catch.yaml
  pre/remap_restart/bin2nc_fv.yaml
  pre/remap_restart/bin2nc_gocart.yaml
  pre/remap_restart/bin2nc_lake.yaml
  pre/remap_restart/bin2nc_landice.yaml
  pre/remap_restart/bin2nc_moist.yaml
  pre/remap_restart/bin2nc_pchem.yaml
  pre/remap_restart/bin2nc_salt.yaml
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

document "lcv" restart file from ADAS (remap_analysis.py, remap_questions.py)
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

renamed bin2nc_*.yaml files to clarify that they are specific to MERRA2 (bin2nc_*.yaml)
  pre/remap_restart/bin2nc_merra2_catch.yaml
  pre/remap_restart/bin2nc_merra2_fv.yaml
  pre/remap_restart/bin2nc_merra2_gocart.yaml
  pre/remap_restart/bin2nc_merra2_lake.yaml
  pre/remap_restart/bin2nc_merra2_landice.yaml
  pre/remap_restart/bin2nc_merra2_moist.yaml
  pre/remap_restart/bin2nc_merra2_pchem.yaml
  pre/remap_restart/bin2nc_merra2_salt.yaml
Owners: @GEOS-ESM/preprocessing-team

clarified comments/variable names re. WEMIN parameter, binary restarts, dummy questions, and ocean model (remap_catchANDcn.py, remap_questions.py, remap_utils.py)
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update remap_bin2nc.py
  pre/remap_restart/remap_bin2nc.py
Owners: @GEOS-ESM/preprocessing-team

cleanup of comments, "messages" for questions, hardcoded lists (remap_restarts.py, remap_questions.py, remap_command_line.py)
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
Owners: @GEOS-ESM/preprocessing-team

simplify choices for command_line
  pre/remap_restart/remap_command_line.py
Owners: @GEOS-ESM/preprocessing-team

more refactoring...
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

typo
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

complete name change shared:model to shared:omodel
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

default on omodel
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

added comment, minor variable name changes for consistency (remap_questions.py, remap_command_line.py)
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

consolidate some globale variables
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fixing bugs in centrally defined "messages"; revised documentation; additional cleanup (remap_restarts.py, remap_questions.py, remap_command_line.py, remap_utils.py)
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_restarts.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

minor cleanup of comment strings and white space (various remap_*.[py,tpl])
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_bin2nc.py
  pre/remap_restart/remap_catchANDcn.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

complete bin2nc file names change
  pre/CMakeLists.txt
  pre/remap_restart/remap_lake_landice_saltwater.py
  pre/remap_restart/remap_upper.py
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/preprocessing-team

remove C500
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

added support to stretched grid
  pre/remap_restart/remap_analysis.py
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_params.tpl
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fixed some comments, white-space changes (various remap_*.py)
  pre/remap_restart/remap_command_line.py
  pre/remap_restart/remap_params.py
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

center SGxxx information
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

more cleanup of stretched cubed-sphere parameter handling (remap_questions.py, remap_upper.py, remap_utils.py)
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_upper.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

Update cube_BCs.pl
  pre/NSIDC-OSTIA_SST-ICE_blend/cube_BCs.pl
Owners: @GEOS-ESM/preprocessing-team

edit stretched question
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

enable 3 options
  pre/remap_restart/remap_questions.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

add era5_eta2eta.F utility to generate GEOS ana.eta data from ERA5 model level data
  post/CMakeLists.txt
  post/era5_eta2eta.F
Owners: @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team

Update with ECMWF 137 levels
  post/era5_eta2eta.F
Owners: @GEOS-ESM/postprocessing-team

Pull loops inside sigtopl
  post/era5_eta2eta.F
Owners: @GEOS-ESM/postprocessing-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
