Repository GEOS-ESM/GEOS_Util, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/cmake-team, @GEOS-ESM/postprocessing-team, @GEOS-ESM/preprocessing-team, @yvikhlya

comment on change
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Really fix changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Bugfix for configure
  plots/configure
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Fix changelog
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Corrected one more plotting script to avoid qname_not_found in plot titles.
  CHANGELOG.md
  plots/grads_util/genplot.gs
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Edited plot.rc to apply a -1 factor and correct titles to aerosol scavenging (*SV) export plots.
  CHANGELOG.md
  plots/grads_util/plot.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Edited plot.rc to apply a -1 factor and correct titles to aerosol scavenging (*SV) export plots and corrected genplot.gs to avoid qname_not_found in plot titles.
  CHANGELOG.md
  plots/grads_util/genplot.gs
  plots/grads_util/plot.rc
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

scripts to substitute the zonal average merra2 O3 into the CMIP species file
  pre/pchem_species_generation/README.md
  pre/pchem_species_generation/compute_time_ave.sh
  pre/pchem_species_generation/generate_merra2ox_species.sh
  pre/pchem_species_generation/run_pipeline.sh
  pre/pchem_species_generation/zonal_mean_subsample_o3.py
Owners: @GEOS-ESM/preprocessing-team

fix so that will look for levs from original Larry 1979-2017 file
  pre/pchem_species_generation/README.md
  pre/pchem_species_generation/generate_merra2ox_species.sh
  pre/pchem_species_generation/run_pipeline.sh
Owners: @GEOS-ESM/preprocessing-team

Matt suggested: + if answers.get("input:shared:stretch", False):
  pre/remap_restart/remap_questions.py
  pre/remap_restart/remap_utils.py
Owners: @GEOS-ESM/preprocessing-team

fix paths
  pre/pchem_species_generation/README.md
  pre/pchem_species_generation/compute_time_ave.sh
  pre/pchem_species_generation/generate_merra2ox_species.sh
  pre/pchem_species_generation/run_pipeline.sh
Owners: @GEOS-ESM/preprocessing-team

Added new diurnal precip plots and python residual plots and optimized plot order.
  plots/diurnal/plot_diurnal_imerg_amp_phs.py
  plots/diurnal/run_diurnal
  plots/landscape.script
  plots/portrait.script
  plots/res/process_and_plot_residual.py
  plots/res/run_residual
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

fix typo from "roue" to "route" and more specific file names
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

res and diurnal scripts were cleaned up a bit
  plots/diurnal/plot_diurnal_imerg_amp_phs.py
  plots/res/process_and_plot_residual.py
  plots/res/run_residual
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update run_residual
  plots/res/run_residual
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Document changes for version 3.0.2 in CHANGELOG
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

added new pchem tendency and nccn plots
  plots/grads_util/plot.rc
  plots/landscape.script
  plots/portrait.script
Owners: @GEOS-ESM/postprocessing-team

added new pchem tendency and nccn plots
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update plot.rc
  plots/grads_util/plot.rc
Owners: @GEOS-ESM/postprocessing-team

copy route and issm retart while remapping
  pre/remap_restart/remap_other_restarts.py
Owners: @GEOS-ESM/preprocessing-team

Update CHANGELOG with new features and fixes
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update changelog for release
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

updated vortex plot and batch processing for geosclim.script
  plots/grads_util/genplot.gs
  plots/grads_util/plot.rc
  plots/zcmp1/vortex
  plots/zcmp1/vortex.plt
  post/gcmpost.script
Owners: @GEOS-ESM/postprocessing-team

Disable call to gcmclim.script at NCCS running within the model job
  post/gcmpost.script
Owners: @GEOS-ESM/postprocessing-team

Minor changes to pchem_species_generation scripts
  CHANGELOG.md
  pre/pchem_species_generation/README.md
  pre/pchem_species_generation/compute_time_ave.sh
  pre/pchem_species_generation/run_pipeline.sh
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/preprocessing-team

Turn off automatic plotting of experiments on-the-fly
  post/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Update vortex.plt
  plots/zcmp1/vortex.plt
Owners: @GEOS-ESM/postprocessing-team

Update zcloseplt
  plots/zcmp/zcloseplt
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG with recent changes and fixes
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Changed post-processing workflow further to correct bugs, utilize parallel processing, and make subject to a flag in plot.rc.
  CHANGELOG.md
  post/gcmclim.script
  post/gcmpost.script
  post/plot.rc
  post/run_gcmclim.script
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Updated ISCCP plotting to use newer dataset and removed ERA interim for plotting.
  CHANGELOG.md
  plots/VERIFICATION_RCS/VERIFICATION.ECINTERIM.rc
  plots/VERIFICATION_RCS/VERIFICATION.ISCCP.rc
  plots/configure
  plots/taylor/taylor_cloud.gs
Owners: @GEOS-ESM/geos-util-team, @GEOS-ESM/postprocessing-team

Update CHANGELOG.md for version 3.0.4
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

Update plot.rc
  post/plot.rc
Owners: @GEOS-ESM/postprocessing-team

Update CHANGELOG.md
  CHANGELOG.md
Owners: @GEOS-ESM/geos-util-team

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOS_Util is owned by the geos-util-team.
* @GEOS-ESM/geos-util-team

# Cmake team manages the circleci and github dirs
/.circleci/ @GEOS-ESM/cmake-team
/.github/ @GEOS-ESM/cmake-team

# Postprocessing team is the CODEOWNER for plots and post
/plots/ @GEOS-ESM/postprocessing-team
/post/ @GEOS-ESM/postprocessing-team

# Preprocessing team is the CODEOWNER for pre
/pre/ @GEOS-ESM/preprocessing-team

# Yuri owns the coupled plots
/coupled_diagnostics/ @yvikhlya

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
